<div class="m-5">
  <p-card [header]="selectedMenu ? selectedMenu : undefined">
    <ng-container [ngSwitch]="selectedMenu">

      <!-- invokeMap -->
      <ng-container *ngSwitchCase="'_.invokeMap'">
        <p>對集合中的每個元素執行方法，只會呼叫第一層元素的方法</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="invokeMapOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="invokeMapLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="invokeMapJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="invokeMap | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="invokeMapOrg2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="invokeMapLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="invokeMapJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="invokeMap2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="invokeMapOrg3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="invokeMapLo3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="invokeMapJs3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="invokeMap3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="invokeMapOrg4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="invokeMapLo4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="invokeMapJs4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="invokeMap4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- keyBy -->
      <ng-container *ngSwitchCase="'_.keyBy'">
        <p>陣列轉物件</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="keyByLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="keyByJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="keyBy | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Array</th>
              <td>
                <pre><code [innerHTML]="arrayStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="keyByLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="keyByJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="keyBy2 | prism: 'typescript'"></code></pre>
                <p>// ASCII 97=>a, 100=>d</p>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- map -->
      <ng-container *ngSwitchCase="'_.map'">
        <p>對集合中的每個元素套用轉換邏輯</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Array</th>
              <td>
                <pre><code [innerHTML]="mapOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="mapLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="mapJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="map | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="mapLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="mapJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="map2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider>【差異】Lodash 可直接給物件</p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="mapOrg3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="mapLo3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="mapJs3 | prism: 'typescript'"></code></pre>
                <p>// 需先轉換成物件才可處理</p>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="map3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- orderBy -->
      <ng-container *ngSwitchCase="'_.orderBy'">
        <p>指定每個欄位排序，預設全部 asc</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="users2Str | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="orderByLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="orderByJs | prism: 'typescript'"></code></pre>
                <p>// 依照 user 名字排序，如果名字相同，再依照 age 欄位 由大到小 排序</p>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="orderBy | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- partition -->
      <ng-container *ngSwitchCase="'_.partition'">
        <p>把集合分為符合與未符合兩類</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="partitionLo | prism: 'typescript'"></code></pre>
                <p>// boolean 用 true or false 分；string & number 用有無值分；number null、undefined、0 被歸為同一類</p>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="partitionJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="partition | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="partitionLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="partitionJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="partition2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="partitionLo3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="partitionJs3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="partition3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="partitionLo4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="partitionJs4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="partition4 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- reduce -->
      <ng-container *ngSwitchCase="'_.reduce'">
        <p>對集合中的每個元素套用累加邏輯</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="reduceOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="reduceLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="reduceJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="reduce | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider>【差異】Lodash 可處理物件</p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="reduceOrg2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="reduceLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="reduceJs2 | prism: 'typescript'"></code></pre>
                <p>// 需先使用 Object.entries(obj) 將物件轉換成 key-value 配對的陣列</p>
                <p>// [['a', 1], ['b', 2], ['c', 1]]</p>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="reduce2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- reduceRight -->
      <ng-container *ngSwitchCase="'_.reduceRight'">
        <p>由右到左，對集合中的每個元素套用累加邏輯</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="reduceRightOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="reduceRightLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="reduceRightJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="reduceRight | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- reject -->
      <ng-container *ngSwitchCase="'_.reject'">
        <p>符合條件的拒絕</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="usersStr | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="rejectLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="rejectJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="reject | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="rejectLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="rejectJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="reject2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider>_.reject vs _.filter</p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <td>
                <pre><code [innerHTML]="rejectLo3 | prism: 'typescript'"></code></pre>
              </td>
              <td>
                <pre><code [innerHTML]="filterLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <td>
                <pre><code [innerHTML]="reject3 | prism: 'typescript'"></code></pre>
              </td>
              <td>
                <pre><code [innerHTML]="filter | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- sample -->
      <ng-container *ngSwitchCase="'_.sample'">
        <p>隨機取一個</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="sampleOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sampleLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sampleJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="sample | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="users3Str | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sampleLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sampleJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="sample2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- sampleSize -->
      <ng-container *ngSwitchCase="'_.sampleSize'">
        <p>隨機取指定數量</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="sampleSizeOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sampleSizeLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sampleSizeJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="sampleSize | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- shuffle -->
      <ng-container *ngSwitchCase="'_.shuffle'">
        <p>Fisher-Yates shuffle(費雪-耶茨 洗牌法)，把陣列打亂</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="shuffleOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="shuffleLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="shuffleJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="shuffle | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th></th>
              <td>
                <img
                  src="https://media.springernature.com/lw685/springer-static/image/art%3A10.1007%2Fs11042-021-10847-7/MediaObjects/11042_2021_10847_Fig1_HTML.png">
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- size -->
      <ng-container *ngSwitchCase="'_.size'">
        <p>集合的大小</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="sizeOrg | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sizeLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sizeJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="size | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="users3Str | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sizeLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sizeJs2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="size2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Origin</th>
              <td>
                <pre><code [innerHTML]="sizeOrg3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sizeLo3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sizeJs3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="size3 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- some -->
      <ng-container *ngSwitchCase="'_.some'">
        <p>集合中是否有符合條件的元素</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="users3Str | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="someLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="someJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="some | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="someLo2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="some2 | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

      <!-- sortBy -->
      <ng-container *ngSwitchCase="'_.sortBy'">
        <p>指定每個欄位排序，全部 asc</p>
        <p-divider></p-divider>
        <table class="code-table">
          <tbody>
            <tr>
              <th>Users</th>
              <td>
                <pre><code [innerHTML]="users2Str | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Lodash</th>
              <td>
                <pre><code [innerHTML]="sortByLo | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>JavaScript</th>
              <td>
                <pre><code [innerHTML]="sortByJs | prism: 'typescript'"></code></pre>
              </td>
            </tr>
            <tr>
              <th>Result</th>
              <td>
                <pre><code [innerHTML]="sortBy | prism: 'typescript'"></code></pre>
              </td>
            </tr>
          </tbody>
        </table>
      </ng-container>

    </ng-container>
  </p-card>
</div>
